body {
  background-image: url(../../images/wall.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Lato", sans-serif;
  margin: 0px;
}
  
.container {
  display: grid;
  grid-template-columns: 1fr;
}
  
.nav-wrapper {
  background-image: url(../../images/black2.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 38px;
}
  
.left-side {
  display: flex;
}
  
.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 1.0rem;
}
  
.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
  
.active-nav-link {
  border-bottom: 1px solid whitesmoke;
}

.brand {
  color: whitesmoke;
}
  
.active-nav-link a {
  color: whitesmoke !important;
}
  
.nav-link-wrapper a {
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.5s;
}
  
.nav-link-wrapper:hover {
  border-bottom: 1px solid whitesmoke;
}
  
.nav-link-wrapper a:hover {
  color: whitesmoke;
}

/* Content */
/*@media only screen and (max-device-width : 640px) {
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-device-width: 768px) {
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}*/

/* Chat */
textarea {
  resize: none;
}

/* Video */
  
  